<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Audio gram
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item *ngFor="let track of playlist">
            <app-track-card
                [track]="track"
                (click)="start(track)"
                [color]="track === activeTrack ? 'success' : 'primary'"
            ></app-track-card>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col size="12" class="ion-text-center" *ngIf="activeTrack">
                {{activeTrack.title}}
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-range
                    #range
                    [(ngModel)]="progress"
                    max="100"
                    (touchend)="seek()"
                    (mouseup)="seek()"
                ></ion-range>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-button
                    fill="clear"
                    (click)="prevTrack()"
                    [disabled]="playlist.indexOf(activeTrack) <= 0"
                >
                    <ion-icon name="play-back"></ion-icon>
                </ion-button>
                <ion-button
                    fill="clear"
                    (click)="togglePlay(false)"
                    *ngIf="!isPlaying"
                >
                    <ion-icon name="play"></ion-icon>
                </ion-button>
                <ion-button
                    fill="clear"
                    (click)="togglePlay(true)"
                    *ngIf="isPlaying"
                >
                    <ion-icon name="pause"></ion-icon>
                </ion-button>
                <ion-button
                    fill="clear"
                    (click)="nextTrack()"
                    [disabled]="playlist.indexOf(activeTrack) > playlist.length"
                >
                    <ion-icon name="play-forward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
